<a href="/">Back to all blocks</a>
<h2>{{title}}</h2>
<p>
  {{#if prevLink}}
    <a href="{{prevLink}}">&lt Block {{prevHeight}}</a>
  {{/if}}
  {{#if nextLink}}
    <a href="{{nextLink}}">Block {{nextHeight}} &gt;</a>
  {{/if}}
</p>
<br />
<h3>Header</h3>
<table>
  <tr>
    <th>Hash</th>
    <td>{{hex this.header.hash}}</td>
  </tr>
  <tr>
    <th>Proof of Work</th>
    <td>{{lookup this.pows this.header.pow.pow_algo}}</td>
  </tr>
  <tr>
    <th>Height</th>
    <td>{{this.header.height}}</td>
  </tr>
  <tr>
    <th>Version</th>
    <td>{{this.header.version}}</td>
  </tr>
  <tr>
    <th>Timestamp</th>
    <td>{{timestamp this.header.timestamp}}</td>
  </tr>
  <tr>
    <th>Previous Hash</th>
    <td>{{hex this.header.prev_hash}}</td>
  </tr>
  <tr>
    <th>Nonce</th>
    <td>{{this.header.nonce}}</td>
  </tr>
  <tr>
    <th>Output Merkle Root</th>
    <td>{{hex this.header.output_mr}}</td>
  </tr>
  <tr>
    <th>Witness Merkle Root</th>
    <td>{{hex this.header.witness_mr}}</td>
  </tr>
  <tr>
    <th>Kernel Merkle Root</th>
    <td>{{hex this.header.kernel_mr}}</td>
  </tr>
  <tr>
    <th>Input Merkle Root</th>
    <td>{{hex this.header.input_mr}}</td>
  </tr>
  <tr>
    <th>Kernel MMR Size</th>
    <td>{{this.header.kernel_mmr_size}}</td>
  </tr>
  <tr>
    <th>Output MMR Size</th>
    <td>{{this.header.output_mmr_size}}</td>
  </tr>
  <tr>
    <th>Total Kernel Offset</th>
    <td>{{hex this.header.total_kernel_offset}}</td>
  </tr>
  <tr>
    <th>Total Script Offset</th>
    <td>{{hex this.header.total_script_offset}}</td>
  </tr>
</table>

{{#with this.block.body}}
  <table>
    <thead>
      <tr>
        <th>
          <h2>Kernels({{kernels.length}})</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each kernels as |kernel|}}
        <tr>
          <td>
            <h3>Kernel {{@index}}</h3>
            {{>TransactionKernel kernel}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>
          <h2>Outputs({{outputs.length}})</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each outputs as |output|}}
        <tr>
          <td>
            <h3>Output {{@index}}</h3>
            {{>TransactionOutput output}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>
          <h2>Inputs({{inputs.length}})</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each inputs as |input|}}
        <tr>
          <td>
            <h3>Input {{@index}}</h4>
            {{>TransactionInput input}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/with}}