<a href="/">Back to all blocks</a>
<h2>{{title}}</h2>
<p>
    <a href="/blocks/{{prevHeight}}">&lt Block {{prevHeight}}</a>
    <a href="/blocks/{{nextHeight}}">Block {{nextHeight}} &gt;</a>
</p>
<br />
<h3>Kernels</h3>
<table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
    <tr>
        <th>Hash</th>
        <th>Excess</th>
        <th>Excess Signature</th>
        <th>Fee</th>
        <th>Lock Height</th>
        <th>Features</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.block.body.kernels}}
        <tr>
            <td>{{hex hash}}</td>
            <td>{{hex excess}}</td>
            <td>Nonce:{{hex excess_sig.public_nonce}} Sig:{{hex excess_sig.signature}}</td>
            <td>{{fee}}</td>
            <td>{{lock_height}}</td>
            <td>{{features}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<br />
<h3>Outputs</h3>
<table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
    <tr>
        <th>Hash</th>
        <th>Commitment</th>
        <th>Flags</th>
        <th>Maturity</th>
        <td>Parent PK</td>
        <th>Unique Id</th>
        <th>Other Features</th>
        <th>Script</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.block.body.outputs}}
     <tr>
         <td>{{hex hash}}</td>
         <td>{{hex commitment}}</td>
         <td>{{features.flags}}</td>
         <td>{{features.maturity}}</td>
         <td><a href="/assets/{{ hex features.parent_public_key }}">{{ hex features.parent_public_key }}</a></td>
         <td>{{ hex features.unique_id}}</td>
         <td>{{ json features }}</td>
         <td>{{hex script}}</td>
     </tr>
    {{/each}}
    </tbody>
</table>

<br />
<h3>Spent Inputs</h3>
<table border="1" width="100%" cellpadding="5" bordercolor="#EFEFEF">
    <thead>
    <tr>
        <th>Hash</th>
        <th>Commitment</th>
        <th>Flags</th>
        <th>Maturity</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.block.body.inputs}}
        <tr>
            <td>{{hex hash}}</td>
            <td>{{hex commitment}}</td>
            <td>{{features.flags}}</td>
            <td>{{features.maturity}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
