<html>
  <head>
    <title>Tari scanner</title>
    <script src="/javascripts/onload.js"></script>
    <script src="/javascripts/table.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body onload="onLoad([{{tables}}], [{{indices}}], [{{sorting}}], [{{reverse}}], '{{url}}')">
    {{{body}}}
  </body>
</html>